/*
==============
    Fonts
==============
*/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/*
================ 
    Variables
================
*/

:root {
    /* blue shades for buttons*/
    --clr-primary-1: #1775ac;
    --clr-primary-2: #1a95b6;
    --clr-primary-3: #70c6d1;
    --clr-primary-4: #c6efed;
    /* cream for text */
    --clr-primary-5: #f6efed;
}


/*
===================== 
    Global Styles
=====================
*/

h1 {
    color: var(--clr-primary-5);
    position: fixed;
    margin: auto;
    z-index: -1;
}

.video-container {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -2;
}


/*  global classes   */


/*  section  */


/*
=============== 
Video
===============
*/


/*  switch button    */