    /*
==============
    Fonts
==============
*/
    
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
    /*
================ 
    Variables
================
*/
    
     :root {
        /* blue shades for buttons*/
        --clr-primary-1: #70c6d1;
        /* cream for text */
        --clr-primary-2: #f6efed;
        --ff-primary: "Josefin Sans", sans-serif;
        --ff-secondary: "Open Sans", sans-serif;
    }
    /*
===================== 
    Global Styles
=====================
*/
    
    body {
        font-family: var(--ff-secondary);
        background: var(--clr-primary-1);
        color: var(--clr-primary-2);
        line-height: 1.5;
        font-size: 0.875rem;
    }
    
    h1 {
        font-size: 4rem;
        margin-bottom: 0.75rem;
        font-family: var(--ff-primary);
        color: var(--clr-primary-2);
        position: fixed;
        margin: auto;
    }
    
    .video-container {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
    }
    /*
=============== 
Video
===============
*/
    /*   preloader     */
    
    .preloader {
        position: fixed;
        justify-content: center;
        align-items: center;
        visibility: visible;
        z-index: 999;
    }
    
    .hide-preloader {
        z-index: -999;
        visibility: hidden;
    }
    /*  button container     */
    
    .btn-container {
        position: relative;
        display: inline-block;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    /*  pause & play button  */
    
    .pause-btn,
    .play-btn {
        color: var(--clr-primary-2);
        font-size: 0.875rem;
        background: transparent;
        padding: 0.375rem 0.75rem;
    }
    /* header after */
    
    header::after {
        background: rgba(0, 0, 0, 0.7);
        z-index: -1;
    }